<div class="container-fluid">
  <h1>Blackbird</h1>
  <div class=row">
    <h2>Spotlight</h2>
    <audio controls>
      <source src="audio/I Wanna Make You Dance mixdown 03.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <p>Mr Eurodisco - I Wanna Make You Dance (preview) [produced by Blackbird]</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Tracks</h2>
      <hr/>
      <ul>
        <li ng-repeat="track in tracks | filter: { soundcloudTrackId: '!null' }">
          <iframe width="100%" height="200" scrolling="no" frameborder="no"
                  ng-src="{{getSoundcloudIframeSrc(track.soundcloudTrackId)}}">
          </iframe>
          <p>{{getArtistAndTitle(track)}}</p>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Videos</h2>
      <hr/>
      <ul>
        <li ng-repeat="track in tracks | filter: { youTubeVideoId: '!null' }">
          <iframe width="100%" height="300" frameborder="0" allowfullscreen
                  ng-src="{{getYouTubeIframeSrc(track.youTubeVideoId)}}">
          </iframe>
          <p>{{getArtistAndTitle(track)}}</p>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Bio</h2>
      <hr/>
    </div>
  </div>
</div>
