<div class="container-fluid">
  <h1>Blackbird</h1>
  <div class=row">
    <h2>Spotlight</h2>
    <audio controls>
      <source src="audio/I Wanna Make You Dance mixdown 03.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <p>Mr Eurodisco - I Wanna Make You Dance (preview) [produced by Blackbird]</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Tracks</h2>
      <hr/>
      <ul class="tracks track-listing">
        <li ng-repeat="track in tracks">
          <iframe width="100%" height="100%" scrolling="no" frameborder="no"
                  ng-src="{{getIframeSrc(track.id)}}">
          </iframe>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Videos</h2>
      <hr/>
      <iframe width="100%" height="300" src="https://www.youtube.com/embed/cM68W2KUrAU?rel=0&autohide=1"
              frameborder="0" allowfullscreen>
      </iframe>
      <p>Sandy Rivera feat. Rae - Persuasson (Blackbird Deep Mix)</p>
    </div>
    <div class="col-md-3">
      <h2>Bio</h2>
      <hr/>
    </div>
  </div>
</div>
